



body, html { background-color: black;
	font-size: 100%; padding: 0; margin: 0;}





a:hover,
a:active {
	background: black;
}

/* Header Style */
.main,
.stylophone h1{
margin-top: 150px;
background-color:  black;
font-family: old;
}





